.container
  - if @current_insta_user.try(:token).blank?
    = link_to 'нужно авторизоваться', Instagram.authorize_url(:redirect_uri => admin_insta_callback_url), target: :blank

  

  - if @current_insta_user.try(:token).present?
    .jumbotron
      - if @current_insta_user.info_response.present?
        %h2
          Hello,
          = @current_insta_user.info_response.full_name
        %p
          %p
            Подписчиков
            %b= @current_insta_user.info_response.counts.followed_by
            %br
            Подписан на
            %b= @current_insta_user.info_response.counts.follows

      %p
        = link_to 'update info', admin_insta_user_path, class: 'btn btn-primary btn-lg'


  %p
    Загружено подписчиков
    = @followed_by.count

  .row
    .col-xs-4
      = link_to 'Загрузить подписчиков', admin_insta_user_followed_by_path
      .row
        - @followed_by.each do |followed_by|
          = render 'insta_user', insta_user: followed_by
    .col-xs-4 
      не подписанные пользователи
      .row
        - @not_followed_by.each do |not_followed_by|
          = render 'insta_user', insta_user: not_followed_by

    .col-xs-4 
      расписание
      = link_to 'создать расписание', create_schedule_admin_insta_insta_schedules_path
      .row
        %table.table
          %thead
          %tbody
            - @schedules.each do |schedule|
              %tr
                %td= schedule.insta_user.insta_id
                %td= schedule.work_type
                %td= time_tag schedule.run_at, format: '%d.%m %H:%M:%S'
                %td= link_to 'X', admin_insta_insta_schedule_path(schedule), method: :delete

