.row.header-{ class: (params[:action] == 'home' && params[:controller] == 'page') ? '' : 'small-fix'}
  .menu-fragment.col-sm-3.col-sm-offset-1.text-right
    = link_to 'продукция', root_path, class: 'first'
    = link_to 'галерея', lookbooks_path

  .col-sm-4.logo
    .text-center.full
      = image_tag 'logo.png', title: 'ASTRA', alt: 'logo'
    .text-center.small
      .slogan производство аксессуаров
      .city - Minsk -
      = link_to 'astra', root_path

  .menu-fragment.col-sm-3
    = link_to 'о нас', about_path
    = link_to 'контакты', contacts_path, class: 'last'
