.row.header-{ class: (params[:action] == 'home' && params[:controller] == 'page') ? '' : 'small-fix'}
  .menu-fragment.col-sm-4.col-lg-3.col-lg-offset-1.text-right.hidden-xs
    = link_to 'продукция', root_path, class: 'first'
    = link_to 'галерея', lookbooks_path

  .col-sm-4.logo
    .text-center.full
      = image_tag 'logo.png', title: 'ASTRA', alt: 'logo'
    .text-center.small
      .slogan производство аксессуаров
      .city - Minsk -
      = link_to 'astra', root_path

  .menu-fragment.col-sm-4.col-lg-3.hidden-xs
    = link_to 'о нас', about_path
    = link_to 'контакты', contacts_path, class: 'last'



  %button.navbar-toggle{"data-target" => "#miller-navbar", "data-toggle" => "collapse", :type => "button"}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  #miller-navbar.collapse.navbar-collapse.visible-xs-block.visible-xs
    %ul.nav.navbar-nav
      %li
        = link_to 'продукция', root_path
      %li
        = link_to 'галерея', lookbooks_path
      %li
        = link_to 'о нас', about_path
      %li
        = link_to 'контакты', contacts_path