.col-xs-12.col-sm-4
  = link_to product, class: 'product_image' do
    = image_tag(product.first_image, title: astra_tag("#{product.category.title} #{product.title}"), alt: astra_tag("#{product.category.title} #{product.title}"))
    .text-center.product-info
      .category-title= product.category.title
      .title= product.title
      .cost
        = product_cost(product.cost)
      .visible-xs
        %hr
      .hidden-xs.space