= form_for([:admin, resource], html: {role: 'form', class: 'form-horizontal'}) do |f|
  .row
    .col-xs-6.col-xs-offset-3
      - if resource.errors.present?
        = render 'errors', errors: resource.errors

      .form-group
        .col-sm-2.control-label
          = f.label :name
        .col-sm-10
          = f.text_field :name, class: 'form-control'

      .form-group
        .col-sm-2.control-label
          = f.label :phone
        .col-sm-10
          = f.text_field :phone, class: 'form-control'

      .form-group
        .col-sm-2.control-label
          = f.label :email
        .col-sm-10
          = f.text_field :email, class: 'form-control'

      .form-group
        .col-sm-2.control-label
          = f.label :details
        .col-sm-10
          = f.text_area :details, class: 'form-control'


      .form-group
        .col-sm-2.control-label
          = f.label :mark
        .col-sm-10
          = f.text_area :mark, class: 'form-control'
  .row
    - if resource.product_ids.present?
      - Product.where(id: resource.product_ids).each do |product|
        = image_tag product.first_image, class: 'col-sm-3'
    - else
      = image_tag f.object.product.first_image

  .row
    .form-group.text-center
      = f.submit 'Сохранить', class: 'btn btn-success'
      = link_to 'Удалить', admin_order_path(resource), class: 'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' }
