.uk-grid
  .uk-width-1-1
    %h2
      Список продукции

.uk-wrapper
  %table.uk-table
    %thead
      %tr
        %th id
        %th name
        %th phone
        %th detail
        %th mark
        %th complete
        %th

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.id
          %td= order.name
          %td= order.phone
          %td= order.details.present?
          %td= order.mark.present?
          %td= order.complete
          %td
            .uk-button-group
              = link_to edit_admin_order_path(order), class: 'uk-button uk-button-small uk-button-success' do
                .uk-icon-pencil
              = link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-small uk-button-danger' do
                .uk-icon-times

