.uk-grid
  .uk-width-1-1
    %h2
      Обратная связь

.uk-wrapper
  %table.uk-table
    %thead
      %tr
        %th id
        %th name
        %th email
        %th body
        %th referal
        %th created_at
        %th


    %tbody
      - @feedbacks.each do |feedback|
        %tr
          %td
            = feedback.id
            = link_to 'X', admin_feedback_path(feedback), :confirm => "Are you sure you want to delete feed?", :method => :delete  
          %td= feedback.name
          %td= feedback.email
          %td= feedback.body
          %td= feedback.referal
          %td= feedback.created_at
          %td
