.w-section.section-content.about-row
  .about-row.about-header
    .about-cover
      %img{:alt => "550343627a851c880c695e99_IMG_8638.jpg", :src => "http://uploads.webflow.com/54de0d5c1db7daaf1eb37e44/550343627a851c880c695e99_IMG_8638.jpg"}/
  
  .about-row.center
    .about-title Astra - это
    .w-row
      .w-col.w-col-5
        = image_tag('about/image_1.jpg', class: 'hypothesis img-responsive')
      .w-col.w-col-1
      .w-col.w-col-5
        .about-text 24 модели продукции
        .about-text.hint
          Astra – разработчик и производитель кожгалантереи. В 2014 году мы начинали с изготовления чехлов для ноутбуков и электронных книг. Сейчас Astra может предложить 24 модели рюкзаков, сумок и и чехлов для ноутбуков. В перспективе - производство кошельков и клатчей.
          %br
          %br

          Мы следим за происходящим на рынке кожгалантереи и предлагаем самые интересные, на наш взгляд, решения.
          %br
          %br

          К продукции мы предъявляем высокие требования, которые включают надежность, стиль, яркий внешний вид, качественные материалы и фурнитуру.

      .w-col.w-col-1

  .about-row.center
    .w-row
      .w-col.w-col-1
      .w-col.w-col-5
        .about-text Отечественный производитель
        .about-text.hint
          Astra - белорусский производитель рюкзаков и сумок, основанный в 2014 году. Мы производим продукт, которым хочется пользоваться. Для нас важно чтобы он был практичным и радовал.
          %br
          %br

          Сейчас для производства используются ткани и фурнитура из России, Литвы, Франции, Китая и лишь небольшая доля материалов из Беларуси. Одна из наших задач: максимально увеличить количество белорусских материалов в производстве.
      .w-col.w-col-1
      .w-col.w-col-5
        = image_tag('about/image_2.jpg', class: 'hypothesis img-responsive')

  .about-row.center
    .w-row
      .w-col.w-col-5
        = image_tag('about/image_3.jpg', class: 'hypothesis img-responsive')
      .w-col.w-col-1
      .w-col.w-col-5
        .about-text.center Пошив на заказ
        .about-text.hint
          Пошив на заказ — с этого мы начинали свою деятельность и эту услугу можем предложить и сейчас. Это очень гибкий инструмент для создания уникальной вещи, “заточенной” специально под вас. 
          %br
          %br

          Процесс шитья на заказ — великолепная возможность поучаствовать в конструировании и проработке аксессуара, который по праву можно назвать своим.
      .w-col.w-col-1

  .about-row.center
    .w-row
      .w-col.w-col-1
      .w-col.w-col-5
        .about-text Доставка в любой город страны
        .about-text.hint
          Жители столицы могут заказать доставку курьером. Для наших клиентов из других городов мы можем предложить отправку по почте наложенным платежом, либо после 100% предоплаты. 
          %br
          %br

          Возможен самовывоз из нашей мастерской для любителей покататься. Мы работаем без выходных.

      .w-col.w-col-1
      .w-col.w-col-5
        = image_tag('about/image_4.jpg', class: 'hypothesis img-responsive')
  .about-row.collobration
    .w-container
      .w-row
        .w-col.w-col-2
        .w-col.w-col-8
          / .about-text.collobration Мы открыты для предложений, коллабрации  и нам интересна работа с ритэйлерами. Если вам есть что нам предложить, свяжитесь с нами, напишите в форме обратной связи или закажите звонок.
          .about-text.collobration Мы открыты для предложений, коллаборации и нам интересна работа с ритейлерами. Если у вас есть предложения, то свяжитесь с нами, позвоните или напишите в форме обратной связи.

        .w-col.w-col-2

  .about-row.timing
    .w-container
      .w-row.timing
        .w-col.w-col-7
          .about-text.timing Время течет все меняется, изменись и ты с продукцией Astra.
          %a.button{:href => "#"} Купить продукцию Astra*
          .about-text.hint.timing-hint *Нажав на эту кнопку вам будет предложен рюкзак или сумка, а может и чехол, который подходит именно вам! Технология подбора рюкзака основана на особых механизмах анализирующих скорость скрола, степень нажатия на кнопку, а так же с матрицы экрана будет считан ваш рост, вес, цвет глаз, уровень холестерина в крови и состав завтрака. Далее используются математический анализ и построение графиков корреляции. До конца мы так и не поняли как это работает, но вам лучше нажать на эту кнопку прямо сейчас. Предложение ограничено.
        .w-col.w-col-5
          = image_tag('about/backpack.jpg', class: 'img-responsive')

  .about-row.team
    .w-container
      .w-row
        .about-text Наша команда:
        .w-col.w-col-3
          = image_tag('about/max.jpg', class: 'img-responsive', alt: 'Max Mernikov', title: 'Max Mernikov')
          .about-text Max Mernikov
          .about-text.hint Разработка рюкзаков, разработка интернет магазина, работа с клиентами

        .w-col.w-col-3
          = image_tag('about/oksa.jpg', class: 'img-responsive')
          .about-text Оксана
          .about-text.hint Разработка рюкзаков, изготовление продукции, пошив на заказ
      %br
      %br

      
      .w-row#other
        .about-text Также в проекте участвуют:
        .w-col.w-col-3
          = image_tag('about/pashka.jpg', class: 'img-responsive')
          .about-text Пашка Ковалев
          .about-text.hint Связи с общественностью, консультант

        .w-col.w-col-3
          = image_tag('about/tanya.jpg', class: 'img-responsive')
          .about-text Таня
          .about-text.hint Подготовка материалов для сайта

        .w-col.w-col-3
          = image_tag('about/polina.jpg', class: 'img-responsive')
          .about-text Paulina Berlin
          .about-text.hint Подготовка текстов, информационная поддержка

        .w-col.w-col-3
          = image_tag('about/masha.jpg', class: 'img-responsive')
          .about-text Маша Кирильчик
          .about-text.hint Фотограф, организация съемок
      %br
      %br
 
      .w-row
        .w-col.w-col-3
          = image_tag('about/moto.jpg', class: 'img-responsive')
          .about-text Артур Мотолянец
          .about-text.hint Фотограф, организация съемок

        .w-col.w-col-3
          = image_tag('about/geka.jpg', class: 'img-responsive')
          .about-text Женя
          .about-text.hint Фотограф, организация съемок

  .about-row.ps
    .w-container
      .about-text.white.ps        
        Р.S. И все же почему все таки Astra? Что это вообще значит?
        %br
        %br

        Наверняка вы слышали популярное изречение “Через тернии к звездам” (“Per aspera ad astra” на латинице) принадлежащее Луций Анней Сенека.
        %br
        %br

        Для нас Astra это символ тех высот, которых мы стремимся добиться. Это тот нереально космически крутой продукт, который стремимся произвести. Тот путь что необходимо пройти, что бы добиться абсолюта.
        %br
        %br

        Прокручивая в голове это изречение мы постоянно напоминаем себе о той высокой планке, которую перед собой поставили, о тех счастливых лицах клиентов, которые уже приобрели нашу продукцию, о стремлении сделать продукт за 500 который принесет вам пользы на миллион.

