.w-section.section-content
  .w-container
    .about-row.test_3
      .about-title Наши контакты
      .contacts-header
        Мы открыты для общения и рады выслушать отзыв или предложение,
        %br
        благодарность или конструктивную критику.
        %br
        %br
        Напишите нам, а так же подписывайтесь в социальных сетях.
    = render 'astra_hr', without_image: true

    .w-row.mt-60
      .w-col.w-col-5.w-col-small-5.contact-block.contact-title
        %div Телефон
      .w-col.w-col-7.w-col-small-7.contact-block.left-line
        %div
          %a.link{:href => "tel:+375297697887", :target => "_blank"} + 375 29 769 78 87
    .w-row
      .w-col.w-col-5.w-col-small-5.contact-block.contact-title.top-line
        %div e – mail
      .w-col.w-col-7.w-col-small-7.contact-block.left-line.top-line
        %div
          %a.link{:href => "mailto:maxmernikov@gmail.com", :target => "_blank"} maxmernikov@gmail.com
    .w-row
      .w-col.w-col-5.w-col-small-5.contact-block.contact-title.top-line
        %div Адрес мастерской
      .w-col.w-col-7.w-col-small-7.contact-block.left-line.top-line
        %div улица Лещинского 8 (600 метров от станции метро Кунцевщина)
        .mt-12
          #map-canvas
          = render 'page/contacts/map'

    .w-row
      .w-col.w-col-5.w-col-small-5.contact-block.contact-title.top-line
        %div Instagram
      .w-col.w-col-7.w-col-small-7.contact-block.left-line.top-line
        %div
          = link_to '@astra_minsk', 'https://instagram.com/astra_minsk/', target: '_blank', class: 'link'

        .w-row.mt-12
          .w-col.w-col-4.w-col-small-4.w-col-tiny-4
            = link_to 'https://instagram.com/astra_minsk/', target: '_blank', class: 'w-inline-block' do
              = image_tag('https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11078808_749504715148408_50717721_n.jpg', class: 'instagram-image')
          .w-col.w-col-4.w-col-small-4.w-col-tiny-4
            = link_to 'https://instagram.com/astra_minsk/', target: '_blank', class: 'w-inline-block' do
              = image_tag('https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11085017_1618528531717835_1927027145_n.jpg', class: 'instagram-image')
          .w-col.w-col-4.w-col-small-4.w-col-tiny-4
            = link_to 'https://instagram.com/astra_minsk/', target: '_blank', class: 'w-inline-block' do
              = image_tag('https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11049158_787115058031162_957470114_n.jpg', class: 'instagram-image')
    .w-row
      .w-col.w-col-5.w-col-small-5.contact-block.contact-title.top-line
        %div Группа в ВКонтакте
      .w-col.w-col-7.w-col-small-7.contact-block.left-line.top-line
        %div
          = link_to 'astra.minsk', 'https://vk.com/astra.minsk', target: '_blank', class: 'link'

        .mt-12
          = render 'page/contacts/vk_post'
    .contact-block
= render 'astra_hr'