.row.home-banner
  .col-xs-3.banner-info
    .banner-title Hello Astra
    %p мы белорусский производитель рюкзаков и сумок под маркой Astra
    -# %p в гармонии с тобой аксессуары Astra

    .product-info
      - product = Product.find(15)
      = link_to product do
        = image_tag product.first_image, class: 'product-photo'

        .about
          .text= truncate product.description, length: 84, separator: ' '
          .cost #{product.cost} т.р.

= render 'partials/menu'

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    = block_former(@five_product)

