%nav.uk-navbar
  = link_to 'Astra', root_path, class: 'uk-navbar-brand'
  %ul.uk-navbar-nav
    %li{ class: active_menu('admin/dashboards') }
      = link_to 'Dashboard', admin_dashboards_path

    %li{ class: active_menu('admin/categories') }
      = link_to 'Категории', admin_categories_path

    %li{ class: active_menu('admin/products') }
      = link_to 'Продукты', admin_products_path

    %li{ class: active_menu('admin/cloths') }
      = link_to 'Ткани', admin_cloths_path

    %li{ class: active_menu('admin/categories_cloths')}
      = link_to 'Таблица категорий и тканей', admin_categories_cloths_path

    %li{ class: active_menu('admin/orders') }
      = link_to 'Заказы', admin_orders_path