%nav.uk-navbar
  = link_to 'Astra', root_path, class: 'uk-navbar-brand'
  %ul.uk-navbar-nav
    %li{ class: active_menu('admin/dashboards') }
      = link_to 'Dashboard', admin_dashboards_path

    %li{ class: active_menu('admin/dashboards') }
      = link_to 'Выполненные', completed_admin_dashboards_path

    %li{ class: active_menu('admin/categories') }
      = link_to 'Категории', admin_categories_path

    %li{ class: active_menu('admin/products') }
      = link_to 'Продукты', admin_products_path

    %li{ class: active_menu('admin/lookbook_categories') }
      = link_to 'Gallery', admin_lookbook_categories_path

    -# %li{ class: active_menu('admin/feedbacks') }
    -#   = link_to 'Обратная связь', admin_feedbacks_path

    -# %li{ class: active_menu('admin/statistics') }
    -#   = link_to 'Статистика', admin_statistics_path

    -# %li{ class: active_menu('admin/vk_friends_admin_dashboards') }
    -#   = link_to 'Друзья VK', vk_friends_admin_dashboards_path

    -# %li{ class: active_menu('admin/prepare_image') }
    -#   = link_to 'Img pre', image_resize_admin_dashboards_path

  %ul.uk-navbar-nav
    %li
      = link_to 'выйти', destroy_admin_session_path, method: :delete