.row
  .col-xs-12
    - if resource.id?
      %ul
        %li
          = link_to 'upload photo to group', admin_product_upload_vk_photo_path(resource, type: 'group')
          \|
          = resource.vk_group_id
        %li
          = link_to 'upload photo to user', admin_product_upload_vk_photo_path(resource, type: 'photo')
          \|
          = resource.vk_photo_id

    %hr
.row
  .col-xs-12
    = form_for([:admin, resource], html: {role: 'form'}) do |f|
      - if resource.errors.present?
        = render 'errors', errors: resource.errors

      .form-group
        = f.label :category_id
        = f.select :category_id, Category.by_pos.map{|c| [c.title, c.id] }, class: 'form-control'
        %br


      #images
        %hr
        = f.fields_for :images do |image|
          = render 'image_fields', f: image
        .links
          = link_to_add_association 'add image', f, :images

      .form-group
        = f.label :show
        = f.check_box :show

      .form-group
        = f.label :v3
        = f.check_box :v3

      .form-group
        = f.label :cost
        = f.text_field :cost, class: 'form-control'

      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'

      .form-group
        = f.label :about_product
        = f.text_area :about_product, class: 'form-control', rows: 12

      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control', rows: 6

      %hr
      - Product::PARAMS.each do |keys|
        .form-group
          = f.label keys, I18n.t("activerecord.attributes.product.#{keys.to_s}")
          = f.text_field keys, class: 'form-control'

      .form-group
        = f.submit 'Сохранить', class: 'btn btn-success'


      -# .form-group
      -#   = f.label :with_image
      -#   = f.check_box :with_image, class: 'form-control'
      -#   hint: показывать в большом блоке или нет

