= form_for([:admin, @product], html: { class: 'uk-form uk-form-horizontal' }) do |f|
  - if @product.errors.any?
    = render '/admin/partials/form_errors', f: f

  %fieldset
    %legend
      .uk-form-row
        = f.label :category_id, class: 'uk-form-label'
        .uk-form-controls
          = f.select :category_id, Category.by_pos.map{|c| [c.plural_title, c.id] }, class: 'uk-width-1-2'

      #images.uk-margin
        %hr
        = f.fields_for :images do |image|
          = render 'image_fields', f: image
        .links
          = link_to_add_association 'add image', f, :images

      .uk-form-row
        = f.label :show, class: 'uk-form-label'
        .uk-form-controls
          = f.check_box :show, class: 'uk-width-1-2'

      .uk-form-row
        = f.label :cost, class: 'uk-form-label'
        .uk-form-controls
          = f.text_field :cost, class: 'uk-width-1-6'

      .uk-form-row
        = f.label :title, class: 'uk-form-label'
        .uk-form-controls
          = f.text_field :title, class: 'uk-width-1-2'

      .uk-form-row
        = f.label :about_product, class: 'uk-form-label'
        .uk-form-controls
          = f.text_area :about_product, class: 'uk-width-1-1', rows: 6

      %hr

      .uk-form-row
        = f.label :description, class: 'uk-form-label'
        .uk-form-controls
          = f.text_area :description, class: 'uk-width-1-1'


      .uk-form-row
        .uk-width-1-2.uk-container-center.uk-margin
          = f.submit 'Сохранить', class: 'uk-button uk-button-large uk-button-success'
          = link_to 'Назад', admin_products_path, class: 'uk-button uk-button-large'


  -# .form-group
  -#   = f.label :with_image
  -#   = f.check_box :with_image, class: 'form-control'
  -#   hint: показывать в большом блоке или нет

