.page-header
  %h1
    Заказы

.row
  %table.table.table-hover
    / %thead
    /   %tr
    /     %th Фото
    /     %th Информация о заказе
    /     %th Информация о заказчике
    /     %th

    %tbody
      - @orders.each do |order|
        %tr{ class: order_class(order) }
          %td{ style: 'width: 15%' }
            - if order.product_ids.present?
              - Product.where(id: order.product_ids).each do |product|
                = image_tag product.first_image
            - else
              = image_tag order.product.first_image if order.product.present?
          %td
            %b ##{order.id}
            = Product.where(id: order.product_ids).pluck(:title).join(', ')
            %br
            %small
              = time_tag order.created_at, format: :short
              %sup #{time_ago_in_words(order.created_at).gsub('около', 'ок.').gsub(/(яцев|яца)/, '.')} назад

            - if order.details.present?
              %br
              %b Детали:
              = raw link_finder(order.details)
            - if order.mark.present?
              %br
              %b Пометки:
              = order.mark
    
          %td
            %small= phone_tag order.phone
            %br
            = order.name

          %td
            = link_to admin_order_completed_path(order), class: 'btn btn-success btn-xs' do
              .icon-cut

            = link_to edit_admin_order_path(order), class: 'btn btn-default btn-xs' do
              .icon-pencil

            / = link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-mini uk-button-danger' do
            /   .uk-icon-times

