.page-header
  %h1
    Заказы

.row
  %table.table.table-hover
    %thead
      %tr
        %th Фото
        %th Информация о заказе
        %th Информация о заказчике
        %th

    %tbody
      - @orders.each do |order|
        %tr{ class: order_class(order) }
          %td{ style: 'width: 10%' }
            - if order.product_ids.present?
              - Product.where(id: order.product_ids).each do |product|
                = image_tag product.first_image
            - else
              = image_tag order.product.first_image if order.product.present?
          %td
            %b Заказ ##{order.id}
            = time_tag order.created_at, format: :short
            Прошло дней: #{ (Date.today - order.created_at.to_date).to_i }
            = Product.where(id: order.product_ids).pluck(:title).join(', ')

            - if order.details.present?
              %br
              %b Детали заказа:
              = raw link_finder(order.details)
            - if order.mark.present?
              %br
              %b Пометки:
              = order.mark
    
          %td
            = phone_tag order.phone
            = order.name

          %td
            = link_to admin_order_completed_path(order), class: 'btn btn-success btn-xs' do
              .icon-cut

            = link_to edit_admin_order_path(order), class: 'btn btn-default btn-xs' do
              .icon-pencil

            / = link_to admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-button uk-button-mini uk-button-danger' do
            /   .uk-icon-times

