%h1 Links =)
= link_to 'next page', vk_friends_admin_dashboards_path(page: params[:page].to_i + 1), class: 'pull-right'

- @users.each_slice(10) do |slice|
  %ol 
    - slice.each do |user|
      %li
        = link_to "#{user.first_name} #{user.last_name}", "https://vk.com/id#{user.uid}", target: '_blank'
        / = user.mutual
  %br