= form_for([:admin, resource], html: { class: 'uk-form uk-form-horizontal' }) do |f|
  - if resource.errors.any?
    = render '/admin/partials/form_errors', f: f

  %fieldset
    %legend
      .uk-form-row
        = f.label :image, class: 'uk-form-label'
        .uk-form-controls
          = f.file_field :image, class: 'uk-width-1-4'
          - if f.object.image.present?
            = image_tag(f.object.image(:preview), class: 'uk-width-1-4')

      .uk-form-row
        = f.label :background_position, class: 'uk-form-label'
        .uk-form-controls
          = f.text_field :background_position, class: 'uk-width-1-6'

      .uk-form-row
        = f.label :product_id, class: 'uk-form-label'
        .uk-form-controls
          = f.select :product_id, Product.by_pos.map{|c| [c.title, c.id] }, class: 'uk-width-1-2'

      .uk-form-row
        = f.label :show, class: 'uk-form-label'
        .uk-form-controls
          = f.check_box :show, class: 'uk-width-1-2'

      .uk-form-row
        = f.label :url, class: 'uk-form-label'
        .uk-form-controls
          = f.text_field :url, class: 'uk-width-1-6'

      .uk-form-row
        = f.label :comment, class: 'uk-form-label'
        .uk-form-controls
          = f.text_area :comment, class: 'uk-width-1-2'


      .uk-form-row
        .uk-width-1-2.uk-container-center.uk-margin
          = f.submit 'Сохранить', class: 'uk-button uk-button-large uk-button-success'
          = link_to 'Назад', admin_products_path, class: 'uk-button uk-button-large'


