%h2.text-center Оформление покупки
= form_for Order.new, { html: { class: 'form-horizontal', role: 'form' }, remote: true } do |f|
  = f.hidden_field :product_id, value: @product.id
  .form-group
    = f.label :name, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :phone, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :phone, class: 'form-control'
      %span.help-block пример ввода: (029) 123-45-67

  .form-group
    = f.label :email, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :email, class: 'form-control'

  .form-group
    = f.label :details, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_area :details, class: 'form-control', rows: 4

  .form-group
    .col-sm-8.col-sm-offset-4
      = f.submit 'отправить заявку', class: 'btn btn-default'
