.uk-grid.uk-margin-large
  .uk-width-1-1.uk-width-medium-1-2.uk-push-1-4.uk-width-medium-1-2
    .uk-wrapper
      = @product.description
      = @product.category.detail_product

.uk-grid.uk-margin-remove.uk-padding-remove
  - if @product.images.count == 3
    - @product.images.each do |image|
      .uk-width-1-1.uk-width-medium-1-3
        = image_tag(image.image(:preview), class: 'uk-responsive-width' )
  - elsif @product.images.count == 2
    - @product.images.each do |image|
      .uk-width-1-1.uk-width-medium-1-3.uk-push-1-6
        = image_tag(image.image(:preview), class: 'uk-responsive-width' )

.uk-grid
  .uk-width-1-1.tac
    .share_block
      .share_hint Share:
      = render 'share'

#buy_it.uk-grid.uk-margin-large
  #buy_it_button.uk-width-1-1.uk-width-medium-1-2.uk-push-1-4.uk-width-medium-1-2.uk-thumbnail.buy_it
    %h4.buy.tac.uk-text-ultra-slim
      Купить #{@product.category.dative}
    %p.tac
      за
      %span= @product.cost
      тысяч рублей

  #buy_it_content.hide.uk-width-1-1.uk-width-medium-1-2.uk-push-1-4.uk-width-medium-1-2
    = render 'order_form'

- if @product.about_product.present?
  .uk-grid.uk-margin-remove.uk-padding-remove{ "data-uk-grid-match" => ''}
    .uk-width-1-1.uk-width-medium-1-3.image_block
      .backgr_image{ style: "background-image: url(#{@product.images.first.image(:preview)})" }

    .uk-width-1-1.uk-width-medium-2-3
      .uk-article
        .uk-wrapper.uk-margin-large-bottom
          .uk-article-title О товаре
          %br
          = mark(@product.about_product)
          %br
          = link_to category_path(@product.category.slug), class: 'uk-button uk-button-small' do
            посмотреть все модели городских рюкзаков

            -# = @product.category.title

-#   .uk-width-1-1.uk-width-medium-1-3.cycle-slideshow{ 'data-cycle-pager-template' => '<span>{{slideNum}}</span>', 'data-cycle-pause-on-hover' => 'true', 'data-cycle-timeout' => '4240', 'data-cycle-speed' => '1000', 'data-cycle-manual-speed' => '300' }
-#     - @product.images.each do |image|
-#       = image_tag(image.image(:preview), class: 'uk-responsive-width' )
-#     .cycle-pager.tac.uk-margin-top

  -# .uk-width-1-1.uk-width-medium-2-3.uk-margin-large-top
  -#   .uk-wrapper
  -#     = mark(@product.category.detail_product)

  -#     цена
  -#     = @product.cost
  -#     тысяч рублей

  -#     = render 'cloths_select', cloths: @product.category.cloths


#success_order.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close.uk-close-alt{href: ""}
    %h1.uk-text-slim
      Спасибо за оформление заказа

    %p
      Доставка товара осуществляется двумя способами: курьером по указанному Вами адресу либо РУП «Белпочта». Вы также можете забрать товар самостоятельно, подъехав по адресу улица Данилы Сердича, 78, кв 24. Детали доставки уточнит наш менеджер после оформления заказа.

