= render 'dialog'
.w-section.section-content
  .w-container.container
    .w-row.mt-32.table-cell
      .w-col.w-col-1.w-hidden-small.w-hidden-tiny
        .slideshow-control
          - @product.images.each_with_index do |image, index|
            = image_tag(image.image(:preview), 'data-slide'=> index)



      .w-col.w-col-7.cycle-slideshow#cycle-1{ 'data-cycle-timeout' => 0 }
        - @product.images.each do |image|
          = image_tag(image.image(:preview), title: astra_tag("#{@product.category.dative} #{@product.title}"), alt: astra_tag("#{@product.category.dative} #{@product.title}"))

      .w-col.w-col-4
        .info-block
          %h1.title
            = @product.category.dative
            %br/
            %span.product-name= @product.title
          .cost= product_cost(@product.cost)
        .info-block
          #st-trigger-effects
            = link_to 'Добавить в корзину', order_add_item_path(@product.id), class: 'button', remote: true
  

        .info-block
          = render 'params'

  = render 'astra_hr'

  .w-container.container
    %p.mt-32.paragraf
      = raw @product.about_product.gsub("\r\n", '<br>')
    .w-row
      .w-col.w-col-4
      .w-col.w-col-4
      .w-col.w-col-4.mt-32
        %div
          Покажи
          - if @product.category.slug == 'backpacks'
            рюкзак
          - elsif @product.category.slug == 'covers'
            чехол
          - else
            сумку
          друзьям:

        = render 'share'

  .w-container.other_products.mt-60.container
    %div Другие наши товары:
    .w-row.mt-12
      - @random_three.each do |product|
        .w-col.w-col-4.w-col-small-4.w-col-tiny-4
          = render 'partials/product_preview', product: product

= render 'astra_hr'