.uk-grid.uk-margin-remove.uk-padding-remove
  .uk-width-1-1.uk-width-medium-1-3
    = image_tag(@product.image(:preview), class: 'uk-responsive-width')
  .uk-width-1-1.uk-width-medium-2-3.uk-margin-large-top
    .uk-wrapper
      = mark(@product.category.detail_product)
      .uk-margin-large
        %h3.uk-text-slim
          Данный товар можно заказать в другой цветовой схеме

        .uk-thumbnail.other_cloth.hidden
          .label.tac.uk-text-slim
            Показать доступные
            %br
            расцветки

          .cloth_previews
            - @product.category.cloths.each_with_index do |cloth, index|
              = image_tag(cloth.image(:preview), class: "cloth_preview preview_#{index}", 'data-cloth-id' => cloth.id)
            .clear

.uk-grid.uk-margin-large
  .uk-width-1-1.uk-width-medium-1-2.uk-push-1-4.uk-width-medium-1-2
    .uk-wrapper
      %h2.uk-text-slim.tac
        Оформить заказ
      = form_for Order.new, { html: { class: 'uk-form uk-form-horizontal' }, remote: true } do |f|
        = f.hidden_field :product_id, value: @product.id
        .uk-form-row
          = f.label :name, class: 'uk-form-label'
          .uk-form-controls
            = f.text_field :name, class: 'uk-form-large uk-width-1-1'

        .uk-form-row
          = f.label :email, class: 'uk-form-label'
          .uk-form-controls
            = f.text_field :email, class: 'uk-form-large uk-width-1-1'

        .uk-form-row
          = f.label :phone, class: 'uk-form-label'
          .uk-form-controls
            = f.text_field :phone, class: 'uk-form-large uk-width-1-1'
            Укажите номер телефона в формате (XXX) XX-XX-XX

        .uk-form-row
          = f.label :cloth, class: 'uk-form-label'
          .uk-form-controls
            %span.pseudo_link#add_cloth выбрать
            уникальную расцветку

            .cloth_variants.hide
              = f.hidden_field :cloth_id
              = image_tag(@product.image(:preview), class: 'cloth_preview')
              %span.pseudo_link#remove_cloth удалить
              уникальную расцветку

              #default= @product.image(:preview)
        .uk-form-row
          = f.label :details, class: 'uk-form-label'
          .uk-form-controls
            = f.text_area :details, class: 'uk-form-large uk-width-1-1', rows: 5

        .uk-form-row
          .uk-form-controls
            = f.submit 'отправить', class: 'uk-button uk-button-large'

          -# %a#modal-4.uk-button{ 'data-uk-modal'=>"{target:'#my-id'}" } Open


#success_order.uk-modal
  .uk-modal-dialog
    %a.uk-modal-close.uk-close.uk-close-alt{href: ""}
    %h1.uk-text-slim
      Спасибо за оформление заказа
    %p
      после оформления заказа с вами свяжется менеджер, по телефону указанному в заказе, для подтверждения заказа и оговаривании деталей получения заказа
      продукция изготавливается на заказ
      время обработки заказа до 3 дней
      получение товара доставкой курьера (50 тыс) или из мастерской
