.product
  .row.product-head
    .col-xs-12.col-sm-4.product-title.text-right.hidden-xs
      %h1.slim= @product.title
      %h3= @product.category.dative

    .col-xs-12.col-sm-4
      = image_tag(@product.images.first.image(:preview), title: astra_tag(@product.title), alt: astra_tag(@product.title), class: 'img-responsive')

    .col-xs-12.visible-xs.text-center
      %h1.slim= @product.title
      %h3= @product.category.dative

    .col-xs-12.col-sm-4.product-buy
      #buy_it
        %a#buy_it_button
          Купить
        %span за #{@product.cost}$

      #buy_it_content
        = render 'order_form3'

  %hr
  .row.about-product
    .col-xs-12.col-sm-5.col-sm-offset-1.col-md-3.col-md-offset-0
      - if @product.description.present?
        = @product.description
      - else
        = @product.category.detail_product

    .col-xs-12.col-sm-5.col-md-3
      = render 'params'

    .col-xs-12.col-sm-5.col-sm-offset-1.col-md-3.col-md-offset-0
      %h3= @product.category.recommendations_title
      %p= @product.category.recommendations
      -# %h3 Рекомендации по уходу за рюкзаком
      -# %p Дно и шлейки обработаны специальным особо прочным швом, однако рекомендуется не перегружать рюкзак предметами общим весом более 7-ми килограмм.

    .col-xs-12.col-sm-5.col-md-3
      %h3 Покупка и условия доставки
      %p.more{ 'data-show-char' => 344 }
        После оформления заявки с вами свяжется менеджер для подтверждения заказа. В этот момент мы начнем изготовление рюкзака или сумки. Как правило на это требуется около 3-х дней.
        %br
        Заказ можно забрать самостоятельно (адрес можно уточнить у менеджера), а так же воспользоваться услугами нашего курьера. Доставка производится по городу Минску, стоимость 50 тысяч белорусских рублей. Возможна отправка наложенным платежем в пределах республики Беларусь.

  .row#galery
    - images = []
    - @product.images.offset(1).each do |image|
      - images << image_tag(image.image(:preview), class: 'img-responsive')
    -# - LookbookItem.limit(3).each do |image|
    -#   - images << image_tag(image.image(:preview), class: 'img-responsive')
    - images.shuffle.each do |image|
      .col-xs-12.col-sm-4.item
        = image


#success_order.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "success_order", role: "dialog", tabindex: "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#contacts.modal-title.text-center Спасибо за оформление заказа
      .modal-body
        %p
          Ваш заказ принят.
        %p
          В ближайшее время наш менеджер свяжется с вами для уточнения деталей.



  -# Доставка товара осуществляется двумя способами: курьером по указанному Вами адресу либо РУП «Белпочта». Вы также можете забрать товар самостоятельно, подъехав по адресу улица Данилы Сердича, 78, кв 24. Детали доставки уточнит наш менеджер после оформления заказа.


  -# .row
  -#   .col-xs-12.tac
  -#     .share_block
  -#       .share_hint Share:
  -#       = render 'share'