.product-.row
  .col-xs-12.col-sm-7
    .cycle-slideshow#cycle-1{ 'data-cycle-timeout' => 0 }
      - @product.images.each do |image|
        = image_tag(image.image(:preview), title: astra_tag("#{@product.category.dative} #{@product.title}"), alt: astra_tag("#{@product.category.dative} #{@product.title}"), class: 'img-responsive')

    .row
      #slideshow-2
        #cycle-2.cycle-slideshow{"data-allow-wrap" => "false", "data-cycle-caption" => "#slideshow-2 .custom-caption", "data-cycle-caption-template" => "Slide  of ", "data-cycle-carousel-fluid" => "true", "data-cycle-carousel-visible" => "5", "data-cycle-fx" => "carousel", "data-cycle-next" => "#slideshow-2 .cycle-next", "data-cycle-prev" => "#slideshow-2 .cycle-prev", "data-cycle-slides" => "> div", "data-cycle-timeout" => "0"}
          - @product.images.each do |image|
            %div
              = image_tag(image.image(:preview), height: 100, width: 100)
          - (5 - @product.images.size).times do
            %div


  .col-xs-12.col-sm-5
    %h1
      %span= @product.category.dative
      = @product.title
    .cost
      = product_cost(@product.cost)
    
    %p
      = @product.description

    / %a Добавить в корзину
    #st-trigger-effects
      %button#buy-it{"data-effect" => "st-effect-2-right"} Добавить в корзину

    = render 'params'
    / = render 'test'
    
    .share
      %b 
        Покажи 
        - if @product.category.title == 'Городской рюкзак'
          рюкзак
        - else
          сумку
        друзьям:

      = render 'share'


.row
  %hr.m36
  - @random_three.each do |product|
    = render 'partials/product_preview', product: product

