!!!
%html{lang: "ru"}
  %head
    = display_meta_tags site: 'Astra', keywords: 'рюкзаки, городские рюкзаки, аксессуары, купить рюкзак, купить рюкзак в Минске, рюкзаки астра, рюкзаки Astra minsk, доставка по Минску, изготовление рюкзаков на заказ, городской рюкзак цена, каталог рюкзаков', reverse: true
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'partials/share'
    = render 'partials/ga'

  %body#st-container.st-container{ class: params[:action] + ' ' + params[:controller] }

    = render 'partials/nav'
    %noindex
      = render 'partials/cart'

    .st-pusher
      .st-content
        .st-content-inner.container
          = render 'partials/header'
          .body
            = yield
          = render 'partials/footer' unless params[:controller] == 'lookbooks'
          = render 'partials/help_widjet'
          = render 'partials/analitycs'
