!!!
%html{lang: "ru"}
  %head
    = display_meta_tags site: 'Astra', keywords: 'рюкзаки, городские рюкзаки, аксессуары', reverse: true
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'partials/share'
    = render 'partials/ga'

  %body.container-fluid{ class: params[:action] + ' slide-1 ' + params[:controller] }
    = render 'partials/header'
    .body
      = yield
    = render 'partials/footer' unless params[:action] == 'home'
    = render 'partials/help_widjet'
    = render 'partials/analitycs'
