!!!
%html{'ng-app'=>'insta'}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/

    %title Astra Admin
    = display_meta_tags noindex: true
    = stylesheet_link_tag    "pages", media: "all"
    = javascript_include_tag "pages"
    = csrf_meta_tags

    = yield
