!!!
%html{lang: "ru"}
  %head
    = display_meta_tags site: 'Astra', keywords: 'рюкзаки, городские рюкзаки, сумка, купить рюкзак, купить рюкзак в Минске, рюкзаки астра, изготовление рюкзаков на заказ, городской рюкзак цена', reverse: true
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/

    = stylesheet_link_tag    "webflow", media: "all"
    = csrf_meta_tags
    = render 'partials/ga' if Rails.env.production?


  %body{class: "#{params[:controller]} #{params[:action]}" }
    / = render 'partials/google_tag'
    = render 'dialog'
    = render 'header'
    = yield
    / = render 'partials/footer' unless params[:controller] == 'lookbooks'
    / = render 'partials/help_widjet'
    = render 'footer'
    = render 'partials/analitycs' if Rails.env.production?

    = render 'notice' if flash[:notice][:type].present? rescue nil
    

    %script{:src => "http://yastatic.net/modernizr/2.7.1/modernizr.min.js"}
    = javascript_include_tag "webflow"
    = render 'partials/fonts_load'
